@font-face {
  font-family: "Mulish";
  font-display: swap;
  src: local("Mulish"), url(./assets/fonts/Mulish-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Mulish";
  font-weight: bold;
  font-display: swap;
  src: local("Mulish"), url(./assets/fonts/Mulish-Bold.ttf) format("truetype");
}

* {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  margin: 0;
  min-width: 360px;
  font-family: "Mulish", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
textarea {
  font-family: inherit;
}
